.cursor-pointer {
  cursor: pointer;
}

a.header-anchor {
  text-decoration: none;
}

h1 {
  a.header-anchor {
    display: none;
  }
}

h2, h3, h4, h5, h6 {
  padding-top: 64px;
  margin-top: -64px;

  a.header-anchor {
    display: none;

    .v-icon {
      font-size: inherit;
    }
  }

  &:hover {
    a.header-anchor {
      display: inline-block;
      color: $color-gray;

      &:hover {
        color: $color-dragon;
      }
    }
  }
}
