@media print {
  body {
    font-size: 9pt;
    font-family: serif;
    padding-top: 0;
    margin-top: 0;
    overflow: visible !important;
    height: auto !important;
  }

  .break-inside-avoid {
    break-inside: avoid;
  }

  a {
    text-decoration: none;
    color: rgba(0,0,0,.87) !important;
  }

  .d-flex {
    display: block !important;
  }

  .scroll-y {
    overflow: visible !important;
    height: auto !important;
  }

  .application {
    display: block !important;
  }
  .application--wrap {
    display: block !important;
  }
  .content--wrap {
    display: block !important;
  }

  .p2c {
    column-count: 2;
    column-gap: 18pt;
  }

  .p3c {
    column-count: 3;
    column-gap: 18pt;
  }

  .v-content {
    padding: 0 !important
  }

  table {
    overflow: hidden;
    max-width: 100%;

    th, td {
      border-bottom: 1px solid #000;
    }

    th {
      padding: 5px;
    }
    td {
      padding: 5px;

      &.visible-laptop {
        display: table-cell;
      }

      span.label {
        display: none;
      }
    }
  }

  .theme--dark {
    &.v-application {
      background-color: #fff;
      color: #000;

      h1, h2, h3, h4, h5, h6, a {
        color: $color-dragon;
      }
    }

  }
}
