@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.home-logo {
  max-width: 300px;
  width: 100%;
}

.srd {
  .content {
    a {
      //color: #9b1c47;
    }
  }
}

.source {
  font-size: 0.8rem;
}

.v-application {
  h1, h2, h3, h4, h5, h6, .title, .subtitle, .subtitle-2, .site-title {
    font-family: 'Spectral SC', serif !important;
  }
}

.theme--light {
  h1, h2, .v-card__title {
    color: $color-dragon;
  }

  h2 {
    border-bottom: 1px solid $color-dragon;
    margin-bottom: 12px;
  }

  h3, h4, h5, h6 {
    color: $color-hero;
  }
}

.theme--dark {
  h2 {
    border-bottom: 1px solid #fff;
    margin-bottom: 12px;
  }
}

ul {
  margin-bottom: 16px;
}

.theme--dark.v-application {
  color: #ddd;
  background-color: #333;

  h1, h2, h3, h4, h5, h6, table thead, strong {
    color: #eee;
  }
}
