@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: "ornaments";
  src: url("/fonts/ornaments.eot"); /* IE9 Compat Modes */
  src: url("/fonts/ornaments.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/ornaments.otf") format("opentype"), /* Open Type Font */
    url("/fonts/ornaments.svg") format("svg"), /* Legacy iOS */
    url("/fonts/ornaments.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/ornaments.woff") format("woff"), /* Modern Browsers */
    url("/fonts/ornaments.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.home-logo {
  max-width: 300px;
  width: 100%;
}

.srd {
  .content {
    a {
      //color: #9b1c47;
    }
  }
}

.source {
  font-size: 0.8rem;
}

.v-application {
  h1, h2, h3, h4, h5, h6, .title, .subtitle, .subtitle-2, .site-title {
    font-family: 'Spectral SC', serif !important;
  }
}

.theme--light {
  h1, h2, .v-card__title {
    color: $color-dragon;
  }

  h2 {
    border-bottom: 1px solid $color-dragon;
    margin-bottom: 12px;
  }

  h3, h4, h5, h6 {
    color: $color-hero;
  }
}

.theme--dark {
  h2 {
    border-bottom: 1px solid #fff;
    margin-bottom: 12px;
  }
}

ul, ol {
  margin-bottom: 16px;
}

.theme--dark.v-application {
  color: #ddd;
  background-color: #333;

  h1, h2, h3, h4, h5, h6, table thead, strong {
    color: #eee;
  }
}

.orn {
  font-family: 'ornaments';
  font-weight: normal;
}

.theme--light {
  .v-icon {
    .orn {
      color:rgba(0, 0, 0, 0.54);
    }
  }

  .v-list-item--active {
    .v-icon {
      .orn {
        color: $color-hero;
      }
    }
  }
}

.v-btn {
  .orn {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}
